@import url('https://fonts.googleapis.com/css2?family=Great Vibes&display=swap');
html{
  height: fit-content;
  padding-bottom: 0%;
  margin-bottom: 0%;
}


body {
  background-color: #222;
  height: max-content;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
footer {
    margin-top: 20px;
     margin-bottom: 0;
    background-image: url("/static/wood.jpg");
    text-align: center;
    padding: 30px;
}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.s {

    color: whitesmoke;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.a {
    color: #FFFDD0;
    font-size: 40px;
    font-family: Great Vibes;
}



.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}

.footer-call-to-action-button:hover {
    background-color: #323232e0;
    border: 1px solid white;
}

.link {
    text-decoration: none;
}

.contact-head {
    color: whitesmoke;
    text-decoration: overline;
}


.envelope {
    text-decoration: none;
    color: aqua;
}



/* socials*/

.social-head {
    color: whitesmoke;
    text-decoration: overline;
}



.social-item {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .social-link-text {
    font-size: 0.675rem;
    line-height: 1.25rem;
    font-weight: 550;
    text-align: center;
    font-family: inherit;
    color: #eee !important;
  }
  
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }
  
  .social-links {
    color: rgba(255, 51, 51, 0.8);
    background-color: #151617;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
  }
  .social-links:hover {
    background-color: rgba(255, 51, 51, 0.8);
    color: #eee !important;
    transform: scaleX(1.1) scaleY(1.1);
  }

  
.main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 1rem;
    gap: 2.5rem;
    margin-bottom: 0.5rem;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
  }