{% load static %}
<link href="{% static 'about.css' %}" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 
    <section class="sub-section" id="about-me">
        <div class="information">
          <h class="h">About Me</h2>
          <p class="o">Hello My name is Prasant Kumar Pradhan I am a conscientious person who works hard and
            pays attention to detail. I'm flexible, quick to pick up new skills and eager to learn from others. I
            also have lots of ideas and enthusiasm. I'm keen to work for a company with a great reputation
            and high profile.I have worked on different technologies during my Internship period along with my team
            members and I am still eager to grow more while learning many other Developing tools.</p>
        </div>
        <div class="headshot-container">
          <img class="headshot" src="{%static 'profile.jpeg' %}" alt="Abby's headshot">
        </div>
      </section>
</body>
</html>