{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

<link href="{% static 'contact.css' %}" rel="stylesheet">
<title>
  Contact Me
</title>



{% include "nav.html" %}

<section class="sub-section-alternative" id="contact-me">
    <div class="git">
      Get in Touch
    </div>
    <div class="t">
    <div class="contact_us_2">
      <div class="responsive-container-block big-container">
        </div>
        <div class="responsive-container-block container">
          <form method="post" class="form-box">
            {% csrf_token %}
            <div class="container-block form-wrapper">

              <br>
              <br>
              <div class="responsive-container-block">
                <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6" id="i10mt">
                  <p class="text-blk input-title">
                    FIRST NAME
                  </p>
                  <input class="input" id="ijowk" name="FirstName" placeholder="Please enter first name..." required>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                  <p class="text-blk input-title">
                    LAST NAME
                  </p>
                  <input class="input" id="indfi" name="LastName" placeholder="Please enter last name..." required>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                  <p class="text-blk input-title">
                    EMAIL
                  </p>
                  <input class="input" id="ipmgh" name="Email" type="email" placeholder="Please enter email..." required>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                  <p class="text-blk input-title">
                    PHONE NUMBER
                  </p>
                  <input class="input" id="imgis" name="PhoneNumber" type="tel" placeholder="Please enter phone number..." required>
                </div>
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i">
                  <p class="text-blk input-title">
                    MESSAGE BODY
                  </p>
                  <textarea name="content" class="textinput" id="i5vyy" placeholder="Please enter query..." required></textarea>
                </div>
              </div>
              <button class="submit-btn">
                Submit
              </button>
            </div>
          </form>
        </div>
    </div>
  </div>
  </section>


  {% include 'footer.html' %}