{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

<link href="{% static 'exp.css' %}" rel="stylesheet">
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% include 'nav.html' %}
<title>
    Prasant Experience
</title>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
            {% for exp in experience %}
            <article class="exp-item">
                <i class="exp-icon fa fa-briefcase"></i>
                <h4 class="exp-date">{{ exp.start_date }}</h4>
                <div class="card">
                    <div class="card-body">
                        <div class="job_title">
                            {{ exp.Title}}
                        </div>

                        <div class="inner_cont">
                            <div class="inner">
                                {{ exp.company }}
                                </h>
                                <div class="date">
                                    {% if exp.end_date %}
                                    {{ exp.start_date }} - {{ exp.end_date }}
                                    {% else %}
                                    {{ exp.start_date }}
                                    {% endif %}

                                    <p class="experience"> Total experience in months : {{ exp.total_exp_in_months }}
                                    </p>
                                        <p class="desc"> {{ exp.desc }}</p>

                                </div>


                            </div>
                        </div>
            </article>
            {% endfor %}
        </div>
    </div>
</div>



{% include 'footer.html' %}