{% load static %}

<link href="{% static 'footer.css' %}" rel="stylesheet">
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">


<footer>
  <div class=”footer-content”>
    <h2 class="a">Software Developer</h2>
    <p class="s"><span class="contact-head">CONTACT DETAILS</span><br><br> <i id="contact-icon"
        class="fa fa-mobile black" aria-hidden="true"> 9749988170</i> <br><br> <i class="fa fa-envelope"
        aria-hidden="true"><a class="envelope"
          href="https://mail.google.com/mail/?view=cm&fs=1&to=prasantaugust@gmail.com" target="_blank">
          prasantaugust@gmail.com</a></i></p>
    <br>
    <span class="s social-head">SOCIALS</span>
   <div class="main">
    <a href="https://github.com/prasantSHRESHTA" target="_blank" class="social-item">
      <div class="social-links">
        <i class="fab fa-github"></i>
      </div>
    </a>
    
    <a href="https://www.linkedin.com/in/prasant-kumar-pradhan-351316233/" target="_blank" class="social-item">
      <div class="social-links transition-all">
        <i class="fab fa-linkedin-in"></i>
      </div>
    </a>
   </div>
   <br>
    <a class="footer-call-to-action-button button" href="contact" target="_self"> Get in Touch </a>
    <div class=”footer-bottom”>
    </div>
  </div>
</footer>