{% load static %}


<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
<link href="{% static 'home.css' %}" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/grado-gradoo-nf-2" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Prasant Kumar Pradhan</title>
</head>

<body>

  {% include "nav.html" %}

  <section class="sub-section" id="about-me">
    <div class="information">
      <h2 class="h">About Me</h2>
      <p class="o">Hello My name is Prasant Kumar Pradhan I am a conscientious person who works hard and
        pays attention to detail. I'm flexible, quick to pick up new skills and eager to learn from others. I
        also have lots of ideas and enthusiasm. I'm keen to work for a company with a great reputation
        and high profile.I have worked on different technologies during my Internship period along with my team
        members and I am still eager to grow more while learning many other Developing tools.</p>
    </div>
    <div class="headshot-container">
      <img class="headshot" src="{%static 'profile.jpeg' %}" alt="Abby's headshot">
    </div>
  </section>






  <div class="cont_skills">
    <div class="container">
      <h2 class="section-title">SKILLS</h2>
      <div class="skills-inner">

        <div class="skills-box">
          <span class="icon">
            <img src="{%static 'c++.png' %}" height="50">
          </span>
          <h3 class="skills-title">C++</h3>
        </div>

        <div class="skills-box">
          <span class="icon">
            <img src="{%static 'c.png' %}" height="50">
          </span>
          <h3 class="skills-title">C</h3>
        </div>

        <div class="skills-box">
          <span class="icon">
            <img src="{%static 'java.png' %}" height="50">
          </span>
          <h3 class="skills-title">JAVA</h3>
        </div>

        <div class="skills-box">
          <span class="icon">
            <img src="{%static 'python.png' %}" height="50">
          </span>
          <h3 class="skills-title">Python</h3>
        </div>

        <div class="skills-box">
          <span class="icon">
            <img src="{%static 'reactjs.png' %}" height="50">
          </span>
          <h3 class="skills-title">ReactJS</h3>
        </div>


        <div class="skills-box">
          <span class="icon">
            <img src="{%static 'mongodb.png' %}" height="50">
          </span>
          <h3 class="skills-title">MongoDB</h3>
        </div>


        <div class="skills-box">
          <span class="icon">
            <img src="{%static 'mysql.png' %}" height="50">
          </span>
          <h3 class="skills-title">MySQL</h3>
        </div>

        <div class="skills-box">
          <span class="icon">
            <img src="{%static 'restfull.png' %}" height="50">
          </span>
          <h3 class="skills-title">RestFull API</h3>
        </div>

        <div class="skills-box">
          <span class="icon">
            <img src="{%static 'django.png' %}" height="50">
          </span>
          <h3 class="skills-title">Django</h3>
        </div>

        <div class="skills-box">
          <span class="icon">
            <img src="{%static 'php.png' %}" height="50">
          </span>
          <h3 class="skills-title">PHP</h3>
        </div>

        <div class="skills-box">
          <span class="icon">
            <img src="{%static 'js.png' %}" height="50">
          </span>
          <h3 class="skills-title">JavaScript</h3>
        </div>

        <div class="skills-box">
          <span class="icon">
            <img src="{%static 'postgresql.png' %}" height="50">
          </span>
          <h3 class="skills-title">PostgreSQL</h3>
        </div>

      </div>
    </div>
  </div>

  {% include "footer.html" %}


</body>

</html>