{% load static %}


<link href="{% static 'nav.css' %}" rel="stylesheet">

<div class="topbar">
    <header>
        <li><a id="TOP_name" href="home"><img src="{%static 'prasant1.png' %}" height="50"></a></li>
    </header>
    <ul>
        <li><a id="right" href="contact">CONTACT</a></li>
        <li><a id="right" href="resume">RESUME</a></li>
        <li><a id="right" href="work">WORK</a></li>
        <li><a id="right" href="experience">EXPERIENCE</a></li>
        <li><a id="right" href="education">EDUCATION</a></li>
    </ul>
</div>
